---
import Header from '@astrojs/starlight/components/Header.astro';
---
<div slot="logo" style="margin-top: 5px">
    <img src="https://assets.botech.dev/Logos/BoTechLogoCompleteWithSlogan.svg" height="96" alt="Logo" />
</div>
